* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 80, 212, 0.5),rgba(177, 59, 59, 0.5)), url(Fondo2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

button.button-box {
    padding: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, #9e6981 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.3s;
    border-radius: 15px;
    
}
.button-box:hover{
    background-position: left;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

#elegir{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.from-box {
    width: 380px;
    height: 550px;
    position: relative;
    margin: 6% auto;
    background: #ffff;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.toggle-btn {
    margin-top: 50px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}

.input-group {
    top: 140px;
    position: absolute;
    width: 280px;
    transition: 0.3s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #9e6981;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 86%;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 51%, rgba(204,204,204,1) 100%);    border-radius: 15px;
    border: none;
    zoom:1;
}

.submit-btn:hover{
    background: rgb(158,105,129);
    background: radial-gradient(circle, rgba(158,105,129,1) 51%, rgba(158,105,129,1) 100%);
    color: white;
    font-weight: 700;
    zoom:1.2;
}

.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #615e5e;
    font-size: 12px;
    bottom: 64px;
    position: absolute;
}

#login{
    left: 50px;
}

#registrar {
    left: 450px;
}