.contenedor {
    font-family: Arial, sans-serif;
    color: #000000;

  }
  
  table{
    margin-left: auto;
    margin-right: auto;
  }

  table, td, th {
    border-style: solid;
    border-collapse: collapse;
    padding:10px
    
  }
  
